@import "./global.css";
@media (max-width: 768px) {
    .menu {
        background: #475841 none repeat scroll 0% 0%;
        width: 14rem;
        height: calc(100vh - 5rem);
        position: absolute;
        transition: translate .4s;
    }

    .menu.fechado {
        translate: -100%;
    }

    nav {
        display: flex;
        justify-content: center;
        padding: 2.5rem;
        
    }
    
    nav ul li {
        list-style: none;
        color: #E6E8E6;
        font-size: 1.3rem;
        margin-bottom: 1.4rem;
    }
}

@media (min-width: 769px) {
    button {
        translate: -5000%;
    }
    
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        background-color: #475841;
    }

    h1 {
        color: #E6E8E6;
    }

    hr {
        border: solid 1px rgb(80, 95, 75);
    }

    .menu { 
        height: 2.5rem;
        background-color: #475841;
       
    }

    .menu li {
        list-style: none;
        font-weight: 400;
        font-size: 0.9rem;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: .5rem;
    }
}